<div class="row">
  <div class="col-md-6">
    <button type="button" class="me-2" (click)="onChangeData('HL')">
      Housing Locations
    </button>
    <button type="button" (click)="onChangeData('H')">Holidays</button>
  </div>
</div>
<div class="content" style="width: 100%; height: 100%">
  <!-- The AG Grid component, with Dimensions, CSS Theme, Row Data, and Column Definition -->
  <ag-grid-angular
    [pagination]="true"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    class="ag-theme-quartz"
    style="height: 500px"
  />
</div>
